# Python Applications

Data Analysis</br>
Website and Application Development</br>
Desktop Application </br>
Web Scraping </br>
Data Visualization </br>
Machine Learning and Artificial Intelligance </br>
3D Application Development </br>
Audio and Videos Software  </br>
Scientific Calculation </br>
Game Development

# For Loop

In [1]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [25]:
print(l[0])
print(l[1])
print(l[2])

1
2
3

In [3]:
l1=[1,5,1,15,16,18]
for i in l1:
    print(i)
    if i== 15:
        break

1
5
1
15

In [4]:
l2= (15,1,16,17,18)
for i in l2:
    print(i)
    if i==16:
        continue

15
1
16
17
18

In [31]:
l3={"key":10, "key2":12, "key3":[12,15,16]}
for i in l3:
        print(i)

key
key2
key3

In [43]:
l3={"key":10, "key2":12, "key3":[12,15,16]}
ab=[]
for i in l3:
    if type(l3[i])==int:
        print(l3[i])
    if type(l3[i])==list:
        ab.append(l3[i])
        for i in ab:
            for j in i:
                print(j)

10
12
12
15
16

In [44]:
ab

[[12, 15, 16]]

In [48]:
for i in ab:
    for j in i:
        print(j)

12
15
16

In [41]:
l3["key"]

10

In [6]:
l3

{'key': 10, 'key2': 12, 'key3': [12, 15, 16]}

In [7]:
l3.keys()

dict_keys(['key', 'key2', 'key3'])

In [8]:
l3["key3"]

[12, 15, 16]

In [9]:
l3.values()

dict_values([10, 12, [12, 15, 16]])

In [10]:
for i in l3.values():
    print(i)

10
12
[12, 15, 16]

In [38]:
d=range(10)

In [39]:
d[0]

0

In [40]:
d[1]

1

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
l3={"key":10, "key2":12, "key3":[12,15,16]}
abc=[]
for i in l3:
    if type(l3[i])== int:
        print(l3[i])
    if type(l3[i])== list:
        abc.append(l3[i])
        for i in abc:
            for j in i:
                print(j)

10
12
12
15
16

In [12]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [55]:
rows = 7
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [59]:
numbers = [[1, 2, 3], [7, 5, 6],["abc",12,115]]

for i in numbers:
    for j in i:
        print(j)

1
2
3
7
5
6
abc
12
115

In [15]:
x= {2,2,5,7,7,5,6,8}
for i in x:
    print(i)

2
5
6
7
8

In [16]:
type(x)

set

In [17]:
x

{2, 5, 6, 7, 8}

In [18]:
l4= [4,5,6,7,8,9]
for i in l4:
    if i > 6:
        print(i)
else:
    print("4,5,6 is less than 6")

7
8
9
4,5,6 is less than 6

In [19]:
l4= [4,5,6,7,8,9]
for i in l4:
    if i < 7:
        print(i)  
else:
    print("4,5,6 is less than 6")

4
5
6
4,5,6 is less than 6

In [20]:
l4= [4,5,6,7,8,9]
for i in l4:
    if i == 7:
        break
    print(i)
else:
    print("4,5,6 is less than 6")

4
5
6

In [21]:
l4= [4,5,6,7,8,9]
for i in l4:
    if i == 6:
        continue
    print(i)
else:
    print("4,5,6 is less than 6")

4
5
7
8
9
4,5,6 is less than 6

In [22]:
l4= [4,5,6,7,8,9]
for i in l4:
    if i == 10:
        break
    print(i)
else:
    print("4,5,6 is less than 6")

4
5
6
7
8
9
4,5,6 is less than 6

In [23]:
l5= "abcdef"
for i in l5:
    print(i)

a
b
c
d
e
f

In [60]:
l6=1256776
for i in l6:
    print(i)

TypeError: 'int' object is not iterable